<li class="list-group-item d-flex justify-content-between align-items-center">
    <div class="dropdown-item" data-toggle="tooltip" data-placement="right" title="{{ output_string }}"> {{ file_name }}
    </div>
    <div class="btn-group btn-group-lg" role="group" aria-label="..."> 
    <a type="button" class="btn btn-secondary" href="{{ url_for('download',path=path, file_name=file_name) }}">Download</a>
    <a type="button" class="btn btn-danger" href="{{ url_for('delete',path=path, file_name=file_name) }}">Delete</a>
    </div>
</li>