<html>
<title>Execute</title>
{% include 'base.html' %}

<h2 align="center">Welcome to Flask Template Applications!!</h2>
<h4><br></h4>
<div class="container" >
<div class=row style="display: inline-block;">
  <div class="col-sm-4"" style="display: inline-block; padding:15px;"> 
    <h3 class="display-1">Execute 1</h3>
    <p class="lead" style="font-size:100%;"> Execute 1</p>
    <hr class="my-4">
        <p class="lead">
      <a class="btn btn-primary btn-lg" href="execute" role="button">Start</a>
    </p>
  </div>
  <div class="col-sm-4" style="display:inline-block; padding:15px;">
    <h3 class="display-1">Execute 2</h3>
    <p class="lead" style="font-size:100%;">Execute 2</p>
    <hr class="my-4">
        <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Start</a>
    </p>
  </div>
  <div class="col-sm-4" style="display:inline-block; padding:15px;"> 
    <h3 class="display-1">Execute 2</h3>
    <p class="lead" style="font-size:100%;">Execute 3</p>
    <hr class="my-4">
        <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Start</a>
    </p>
  </div>
</div>
</html>